body {
    padding: 50px;
    font: 14px "Roboto", sans-serif;
    font-weight: 700;
    color: grey;
}

a {
    color: white;
    text-decoration: none;
}

a.link {
    color: white;
    text-decoration: none;
}

a.visited {
    color: white;
    text-decoration: none;
}

h1 {
      color: orange;
}
