body {
    padding: 50px;
    margin: 0;
    font: 14px "Roboto", sans-serif;
    font-weight: 700;
    color: grey;
}

html {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a.link {
    color: white;
    text-decoration: none;
}

a.visited {
    color: white;
    text-decoration: none;
}

h1 {
      color: orange;
}

article {
    min-height: 100%;
}

div.image-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

img#animation {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #45a1ff;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
