AccessModifierOffset: -4
AlignAfterOpenBracket: true
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: WebKit
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeComma
BraceWrapping:
    AfterClass: true
    AfterControlStatement: false
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: true
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
ColumnLimit: 0
CommentPragmas: "^!|^:"
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
FixNamespaceComments: true
ForEachMacros: [ foreach, Q_FOREACH, BOOST_FOREACH, forever, Q_FOREVER, QBENCHMARK, QBENCHMARK_ONCE ]
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Middle
PointerBindsToType: false
SortIncludes: true
SpaceAfterTemplateKeyword: false
Standard: Cpp11

