*~
*.cxx
*.o
*.a
*moc_*
*_automoc*
*qrc_*
*.tar.gz
*.zip
*.exe
*.json
log.txt
manifest*
.excludes
*__*
Makefile
bin/
heimer.pro.user
heimer.pro.user.2.1pre1
src/Makefile
*.cbp
test/
unittests/
CTestTestfile.cmake
cmake_install.cmake
src/CTestTestfile.cmake
src/cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
release/
*_plugin_import*
*.Debug
*.Release
CMakeLists.txt.user
*build*

.qmake.stash
docker/
