*~
*.cxx
*.o
*.a
*moc_*
*_automoc*
*qrc_*
*qm
*.tar.gz
*.zip
*.exe
*.json
log.txt
manifest*
.excludes
*__*
Makefile
bin/
heimer.pro.user
heimer.pro.user.2.1pre1
engine.txt
header.txt
src/editor/Makefile
src/editor/editor
src/game/Makefile
src/game/Makefile.Debug
src/game/Makefile.Release
src/game/MiniCore/Core/genincludeheaders.sh
*.cbp
heimer-editor
heimer-game
test/
unittests/
CTestTestfile.cmake
cmake_install.cmake
src/editor/CTestTestfile.cmake
src/editor/cmake_install.cmake
src/game/CTestTestfile.cmake
src/game/MiniCore/CTestTestfile.cmake
src/game/MiniCore/UnitTests/CTestTestfile.cmake
src/game/MiniCore/UnitTests/MCForceRegistryTest/CTestTestfile.cmake
src/game/MiniCore/UnitTests/MCForceRegistryTest/cmake_install.cmake
src/game/MiniCore/UnitTests/MCObjectTest/CTestTestfile.cmake
src/game/MiniCore/UnitTests/MCObjectTest/cmake_install.cmake
src/game/MiniCore/UnitTests/cmake_install.cmake
src/game/MiniCore/cmake_install.cmake
src/game/cmake_install.cmake
src/game/renderer.cpp.autosave
CPackConfig.cmake
CPackSourceConfig.cmake
data/translations/
heimer-1.4.6.zip
release/
src/game/heimer-game_fi.qm
src/game/heimer-game_it.qm
src/game/trackobjectfactory.cpp.orig
*_plugin_import*
*.Debug
*.Release
CMakeLists.txt.user
