Source: heimer
Section: education
Priority: extra
Maintainer: Jussi Lind <jussi.lind@iki.fi>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8.0), pkg-config, qt5-default (>= 5.2.0), qttools5-dev (>= 5.2.0), qttools5-dev-tools (>= 5.2.0)
Standards-Version: 3.9.2
Homepage: http://juzzlin.github.io/Heimer/index.html
Vcs-Git: git@github.com:juzzlin/Heimer.git

Package: heimer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An application for creating and managing mind maps

